@import 'settings';
@import 'foundation';
@include foundation-everything (true);

$numeroVerde-color: #008a2e !default;
$blue: #00aeef;
$evidence-color: #ffed00 !default;
$button-background-hover: scale-color($evidence-color, $lightness: -15%);
$rosso-color: #FF0A0A !default;
$rosso-taddia: #7C0C3E;
$ctaButton-header-color: $evidence-color !default;
$ctaButton-radius: 30px !default;

div.spazio_bianco {
  height: 4.5rem;
}

div.titolo_blocco {
  padding-bottom: 3rem;
}


.img_recensione {
  padding: 10px;
}

p.recensione {
    padding: 10px;
}


.box_domande {
  background-color: scale-color($blue, $lightness: -30%);
  padding-top: 10px;

  h4 {
    color: scale-color(#ffffff, $lightness: -20%);
  }
  ul {

      list-style-type: none;

    li {
      font-size: rem-calc(25, null);
      color: #ffffff;
      margin-left: -20px;
    }
  }
}


.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid black;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid #f00;
}

.arrow-right {
  border-top: 115px solid transparent;
  border-bottom: 115px solid transparent;
  border-left: 70px solid scale-color($blue, $lightness: -30%);
}

.arrow-left {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right:10px solid blue;
}

.top-bar-title {
  font-weight: 800;
  letter-spacing: 3px;
  font-size: 24px;
}

.importante {
  color: #000000;
  font-size: 3vw;
  letter-spacing: 1px;
}


@media all and (min-width: 1023px) {
h1{
    font-size: 70px;
  }
}

@media all and (max-width: 1024px) and (min-width: 600px) {
h1{
    font-size: 5vw;
  }
}

@media all and (max-width: 599px) and (min-width: 50px) {
h1{
    font-size: 3vw;
  }
}

.title-container {
    background-size: cover;
    padding-top: 7%;
    padding-bottom: 7%;
    margin-bottom: 10px;

    .title {
        background-color: rgba(255,255,255,0.5);
        text-align: center;
        padding-left: 3%;
        padding-right: 3%;
        letter-spacing: 1px;
        color: #000000;
        .big {
            text-transform: none;
            font-weight: 100;
            font-size: rem-calc(40, null);

            .diff {
              color: $rosso-taddia;
            }
        }

        .medium {
            font-size: rem-calc(40, null);
            text-transform: none;
            font-weight: 100;
            font-style: normal;
        }
    }
}


.title-mobile {
        font-size: rem-calc(40, null);
        font-weight: 700;
    }


.banner {
    text-align: center;
    padding-top: rem-calc(50, null);
    padding-bottom: rem-calc(50, null);
    padding-left: rem-calc(10, null);
    padding-right: rem-calc(10, null);

    .sconto {
        font-size: rem-calc(60, null);
        font-weight: 400;
        color: $rosso-taddia;
        line-height: 5rem;
    }

    .subSconto {
        font-size: rem-calc(40, null);
        font-weight: 300;
        line-height: 5rem;
        color: #000000;
    }

    .dataPromo {
        text-transform: capitalize;
    }
}

.banner-small {
    text-align: center;
    padding-bottom: rem-calc(20, null);
    padding-left: rem-calc(10, null);
    padding-right: rem-calc(10, null);

    .sconto {
        font-size: rem-calc(40, null);
        font-weight: 700;
        color: #000000;
        line-height: 3rem;
    }


    .subSconto {
        font-size: rem-calc(20, null);
        font-weight: 300;
        line-height: 1rem;
        color: #000000;
    }

    .dataPromo {
        text-transform: capitalize;
    }
}



hr {
    width: 99%;
}

footer {
    font-size: 90%;
    line-height: 1.6em;
    letter-spacing: .4px;
    font-weight: 300;
    font-style: normal;

}


.ctaButton {
    @include button-style($evidence-color, $button-background-hover, #000000);
    font-size: rem-calc(20, null);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.evidenza {
    background-color: $evidence-color;
    padding: rem-calc(20, null);
    text-align: center;
    margin-bottom: 1rem;

    span {
        text-transform: uppercase;
        font-size: 32px;
        line-height: 1.2em;
        letter-spacing: 0px;
        font-weight: 300;
        font-style: normal;
        color: $black;
    }
}

.evidenzaLow {
  @extend .evidenza;
  background-color: scale-color(#1779ba, $lightness: 35%);
  color: #ffffff;

  span {
    color: #ffffff;
  }
}
.small {
  font-size: rem-calc(13, null);
}

.box_nverde {
    text-align: center;
    line-height: 2.1875rem;
}

.numero-verde {
    font-size: rem-calc(40, null);
    color: #008a2e;
}

.center {
    text-align: center;
}

.menu > li > a > span {
    vertical-align: top;
}

.menu-text {

    padding: 0rem 0rem;
}

.callout {
    margin: 0rem;
}

.vantaggiForm {
    padding-top: 50px;
    text-align: center;
    h5 {
        margin-bottom: 20px;
    }
}

.form {
    margin: 10px;
    p {
      padding-top: rem-calc(10, null);
      font-size: rem-calc(20, null);
    }

    label {
      font-size: rem-calc(12, null);
      font-style: italic;
    }

    hr {
      margin-top: rem-calc(1, null);
      margin-bottom: rem-calc(1.1, null);
    }
}

.sintomi {
  padding-bottom: 10px;
  p {
    font-size: rem-calc(19, null);
    color: $dark-gray;
  }
}

.upper {
  text-transform: uppercase;
}

/* cookie banner related styles below */

/***************************************************************************
// * Iubenda Cookie Solution                                               *
// *                                                                       *
// * (c) 2015 Iubenda srl <info@iubenda.com>                               *
// * All Rights Reserved.                                                  *
// *                                                                       *
// *************************************************************************
//
// CHANGELOG
// 0.0.1
// - first implementation of customizable css
*/

/*  GENERAL CLASS */
#iubenda-cs-banner{
    /* ------ IMPORTANT NOTICE: don't change these values as
            they may prevent the banner from properly showing. Some of these lines,
            moreover (like z-index) will overwrite the configuration initialized
            by the script you paste in your pages. To show the banner at the bottom
            you can switch to "bottom: 0px !important;". Don't forget to put "slideDown"
            to "false".
     */
    bottom: 0px !important;
    left: 0px !important;
    position: fixed !important;
    width: 100% !important;
    z-index: 99999998 !important;
    background-color: #9a9a9a;
    /* ----------------- */
}

/*  CONTENT CLASS */
.iubenda-cs-content{
    display:block;
    margin:0 auto;
    width:auto;
    font-family: Helvetica,Arial,FreeSans,sans-serif;
    font-size: 12px;
    background: #9a9a9a;
    color: #ffffff;
}
.iubenda-banner-content{

}

.iubenda-cs-rationale{
    max-width: 900px; position:relative; margin: 0 auto;
}

/*   STYLE FOR TEXT INTERNAL BANNER */
.iubenda-banner-content > p {
    font-family: Helvetica,Arial,FreeSans,sans-serif;
}

/*  CLOSE BUTTON. NOTICE: IMAGE FOR BUTTON NOT IMPLEMENTED YET */
.iubenda-cs-close-btn{
    margin:0;
    color: #fff;
    text-decoration:none;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
}

/*  STYLE FOR TEXT LINK TO PRIVACY POLICY */
.iubenda-cs-cookie-policy-lnk{
    text-decoration: underline;
    color: #fff;
    font-size: 12px;
    font-weight: 900;
}




