<div class="row align-left">
    <div class="small-12 columns">
        <h2>Taddia Group: competenza ed esperienza collaudata</h2>
    </div>
</div>
<div class="row align-left">
        <div class="small-12 medium-5 columns center">
            <img src="http://www.infortunistica.it/templates/taddia_pages01/img/logo.png">
            <p></p>
            <img src="https://placehold.it/1500x600">
        </div>
        <div class="small-12 medium-7 columns">
            <p>
                <strong>TADDIA Group</strong> si distingue per la completezza dei suoi servizi, che consentono di concentrare in un unico soggetto i diversi passaggi e le svariate procedure di gestione di una pratica di risarcimento danni da incidente stradale, infortunio sul lavoro e malasanità, ottimizzando così tempo e rendimento.
            </p>
            <p>
                La forza di questo servizio integrato è cresciuta esponenzialmente nel corso degli anni anche grazie alla diffusione delle <strrong>agenzie in tutta Italia</strrong>, che hanno creato una consistente rete costituita da professionisti al servizio della Clientela.
            </p>
            <p>
                La chiave del successo della nostra formula è <strong>l’esperienza collaudata e perfezionata in vent’anni di attività</strong>, un’esperienza fondata sulla gestione coordinata di un sistema di centralizzazioni
            </p>

        </div>

</div>