<div class="row align-left">
    <div class="small-12 columns">
        <h2>Taddia Group: competenza e know-how collaudato</h2>
    </div>
</div>
<div class="row align-left">
        <div class="small-12 medium-5 columns">
            <img src="https://prismic-io.s3.amazonaws.com/optometrista/080dffa73cb4cb9b2d363863b427da51b0502cb8_logo_family_vision.jpg">
            <p></p>
            <img src="https://placehold.it/1500x600">
        </div>
        <div class="small-12 medium-7 columns">
            <p>
                <strong>TADDIA Group</strong> si distingue per le caratteristiche di <strong>completezza dei suoi servizi</strong>, che consentono di concentrare in un unico soggetto i diversi passaggi e le svariate procedure inerenti alla gestione di una pratica di risarcimento danni da incidente stradale, infortunio sul lavoro e caso di malasanità, ottimizzando così tempi e rendimenti.
            </p>
            <p>
                La forza di questo servizio integrato è cresciuta esponenzialmente nel corso degli anni anche grazie alla diffusione delle <strong>agenzie sull’intero territorio nazionale</strong>, che ha creato un consistente “patrimonio” costituito da professionisti disponibili al servizio della Clientela pressoché ovunque.
            </p>
            <p>
                La vera carta vincente della sua formula è il <strong>know-how collaudato e perfezionatosi nel corso di vent’anni di attività</strong> che si fonda sull’articolazione coordinata di un sistema di centralizzazioni
            </p>

        </div>

</div>