<div class="row banner show-for-medium">
        <div class="small-12 columns">
            Gentile <strong class="nome_cognome"></strong> dal test risulta che:<br>
            <a href="#form">
                <span class="sconto upper message"></span>
                <br><span class="subheader">di problemi legati all'equilibrio visivo!</span><br>
            </a>
        </div>
</div>