<div class="row">
    <div class="small-12 medium-5 columns">
        <img src="https://prismic-io.s3.amazonaws.com/optometrista/b966f97aa3bac7fb8dfa56d90a65fd71c8ddb866_opm-immagine-002.jpg">
    </div>
    <div class="small-12 medium-7 columns">
        <h3 class="subheader">Un metodo scientifico</h3>
        <p>
            Un protocollo di raccolta ed analisi dei disagi consente di approcciare in modo olistico e di verificare, prevenire ed educare i fastidi che ti affliggono tutti i giorni.<br>
            Nel nostro studio eseguiamo:
            <ul>
                <li>
                    Serie completa di test da vicino
                </li>
                <li>
                    Test di performance legati all’uso del computer
                </li>
                <li>
                    Ricerca di un eventuale interferenza del sistema visivo sulla postura
                </li>
                <li>
                    Educazione visiva
                </li>
                <li>
                    Controlli periodici al fine di valutare i progressi
                </li>
            </ul>
        </p>
        <h3 class="subheader">Il Dispositivo Riprogrammatore</h3>
        <p>
            In molti soggetti lo stress visivo può essere <strong>eliminato</strong> o ridotto al minimo attraverso l'uso di <i>dispositivo con lenti per l’armonia visiva.</i>
        </p>

        <h3 class="subheader">Il nostro Metodo</h3>
        <p>
            I disagi possono essere risolti tramite <strong>riprogrammazione visiva</strong> finalizzata a:
            <ul>
                <li>
                    <i>Destrutturare</i> la disarmonia creata dall’eccessivo lavoro visivo al computer
                </li>
                <li>
                    <i>Riprogrammare</i> una nuova armonia che bilancia il rapporto con i sistemi muscolari collo-spalle-bocca
                </li>
                <li>
                    <i>Mantenimento</i> del benessere acquisito
                </li>
            </ul>
        </p>

    </div>
</div>