---
title: >
        Franchising - Apri la tua attività nel campo del risarcimento danni!

description: >
        Da Inserire

testata:
    prima_riga: Vuoi una attività tutta tua?
    hasButton: 0
    seconda_riga: >
            Apri il tuo Franchising <br> nel settore del <i>risarcimento danni</i><br>

immagineTestata: https://placehold.it/1500x600&text=%20

headCode: >

conversionCode: >

---
<div class="spazio_bianco"></div>


<div class="row">
    <div class="small-12 columns">
        <h2>Perchè aprire una attività nel Risarcimento Danni?</h2>
    </div>
</div>
<div class="row">
        <div class="small-12 medium-5 columns">
            <img src="https://placehold.it/800x800">
        </div>
        <div class="small-12 medium-7 columns">
            <h3 class="subheader">Infortuni e incidenti non diminuiscono mai</h3>
            <p>
                Il numero degli incidenti e sinistri che portano risarcimenti <strong>sono in aumento</strong> su tutto il territorio nazionale
            </p>
            <h3 class="subheader">La burocrazia è sempre più complessa</h3>
            <p>
                Aumenta la complessità di gestione delle pratiche. Ciò costringe sempre più <strong>numerosi potenziali clienti</strong> a rivolgersi alle nostre agenzie.
            </p>
            <h3 class="subheader">I clienti non accennano a calare</h3>
            <p>
                Una attività legata alla gestione delle pratiche id risarcimento nasce da subito con un numeroso potenziale di clienti.<br>
                <strong>Clienti certi</strong> che din dai primi giorni di attività si rivolgeranno a voi grazie al nostro marchio, lider nel settore.
            </p>

        </div>

</div>

<div class="spazio_bianco"></div>

<div class="row">
    <div class="small-12 columns">
        <h2>Di cosa si occupa una agenzia del gruppo Taddia?</h2>
    </div>
</div>
<div class="row">
        <div class="small-12 medium-7 columns">
            <h3 class="subheader">Incidenti stradali</h3>
            <p>
                Affiancare e gestire i nostri clienti che hanno subito torti in auto.<br>
                Le nostre agenzie raccolgono e gestiscono le pratiche per le richieste di risarcimento a fronte di incidenti stradali.
            </p>
            <h3 class="subheader">Infortuni sul lavoro</h3>
            <p>
                Le nostre agenzie accompagnano i clienti che hanno subito un infortunio sul posto di lavoro al fine di ottemere i risarcimenti dovuti.
            </p>
            <h3 class="subheader">Casi si Malasanità</h3>
            <p>
                I nostri affiliati affiancheranno i clienti nel delicato processo per la richiesta di un risarcimento nei casi di malasanità.
            </p>

        </div>

        <div class="small-12 medium-5 columns">
            <img src="https://placehold.it/800x800">
        </div>

</div>

<div class="spazio_bianco"></div>


<div class="row">
    <div class="small-12 columns">
        <h2>Perchè aprire un franchising con Taddia Group</h2>
    </div>
</div>
<div class="row">
    <div class="small-12 medium-5 columns">
        <img src="https://placehold.it/800x800">
    </div>
    <div class="small-12 medium-7 columns">
        <h3 class="subheader">Altissima redditivià</h3>
        <p>
            Già dopo i primi mesi vi accorgerete che l'investimento nella vostra agenzia sarà ampliamente ripagato
        </p>
        <h3 class="subheader">Basso investimento iniziale</h3>
        <p>
            Occorre solo un punto vendita con vetrina su strada e un <strong>bassissimo investimento</strong> per usifruire dei nosti vantaggi!
        </p>
        <h3 class="subheader">Nessuna competenza specifica</h3>
        <p>
            Non è richiesta <strong>nessuna competenza specifica</strong>!<br> Saremo noi a darti tutto il supporto necessario per iniziare da subito a guadagnare con la tua agenzia.
        </p>

    </div>
</div>

<div class="spazio_bianco"></div>

<div class="row">
    <div class="small-12 columns">
        <h2>Taddia Grou: professionisti al servizio dei nostri Affiliati</h2>
    </div>
</div>
<div class="row">
        <div class="small-12 medium-7 columns">
            <p>
                La vera carta vincente del francising di Taddia Group il nostro metodo che si basa su un sistema articolato di <strong>Centralizzazioni</strong> messe a disposizione dei nostri affiliati:
            </p>
            <h3 class="subheader">Centralizzazione della gestione dei sinistri</h3>
            <p>
                Centralizzando la gestione dei sinistri si razionalizzano procedure e comunicazione, semplificando il lavoro dell'agenzia.<br>
                <strong>Tempi minori, riduzuone delle spese, maggior epotere contrattuale</strong>, sono i vantaggi per i nostri affiliati.
            </p>
            <h3 class="subheader">Centralizzazione sanitaria</h3>
            <p>
                Abbiamo avviato un <strong>Poliambulatorio direzionale</strong> presso il quale un pool di specialisti coordina i centri sanitari convenzionati di zona in tutta Italia!<br>
                Una <strong>struttura professionale soldida</strong>, a disposizione dei nostri Affiliati!
            </p>
            <h3 class="subheader">Centralizzazione legale</h3>
            <p>
                Uno studio associato in partnership coordina i legali operanti nei territori di competenza delle agenzie affiliate in tutta Italia.
                Le nostre agenzie godono quindi di una <strong>costante assistenza legale</strong> specializzata in ogni tipologia di risarcimento.
            </p>
            <h3 class="subheader">Centralizzazione promozionale</h3>
            <p>
                Uno studio interno cura la comunicazione, l’immagine coordinata e le campagne pubblicitarie nazionali ma si dedica anche alla realizzazione dei progetti di promozione locale delle diverse agenzie affiliate con la massima attenzione e coerenza per il conseguimento della maggiore efficacia comunicativa.
            </p>

        </div>
        <div class="small-12 medium-5 columns">
            <img src="https://placehold.it/800x1100">
        </div>

</div>

<div class="spazio_bianco"></div>

<%= partial "partials/chi_siamo" %>
<hr>
<%= partial "partials/form", :locals => { :form_class_large => "large-7", :phone_class_large => "large-5"} %>

